body {
  background: saddlebrown;
  color: ivory;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: peru;
  border-radius: 8px;
  padding: 30px
}

.cell {
  background: burlywood;
  color: ivory;
  text-decoration: none;
  flex: 1 1 calc(30% - 10px);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  transition: background 0.2s;
}

.cell:hover {
  font-weight: bold;
}

@media (max-width: 600px) {
  .cell {
    flex: 1 1 100%;
  }
}

