body {
  background: skyblue;
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: grey;
  border-radius: 8px;
}

.cell {
  background: brown;
  color: #e2e8f0;
  text-decoration: none;
  flex: 1 1 calc(30% - 10px);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  transition: background 0.2s;
}

.cell:hover {
  background: skyblue;
}

@media (max-width: 600px) {
  .cell {
    flex: 1 1 100%;
  }
}

