body {
  background: skyblue;
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}


.square {
  background: #896701;
  border-radius: 12px;
  padding: 20px;
  max-width: 800px;
  width: 90%;
}



.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.cell {
  background: #a93504;
  color: #e2e8f0;
  text-decoration: none;
  flex: 1 1 calc(30% - 10px);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  transition: background 0.2s;
}

.cell:hover {
  background: #475569;
}

@media (max-width: 600px) {
  .cell {
    flex: 1 1 100%;
  }
}

