body {
  background: #0b0c21;
  color: #ddd;
  font-family: Arial, sans-serif;
}

  #player {
    position: absolute;
    top: 100px;
    left: 0;
    width: 50px;
    height: 50px;
    background: green;
  }
