body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: sans-serif;
  color: lightblue;
}

#player {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background: green;
}

.turtle {
  position: absolute;
  width: 160px;
  height: 200px;
}

#message {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: red;
}
