body {
    background: darkslategray;
    color: honeydew;
    font-family: 'Arial', sans-serif;
    margin: 40px;
}

#title {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cv-box {
  width: 50vw;
  border-radius: 16px;
  background-color: teal;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

details {
  background: cadetblue;
  color: honeydew;
  border-radius: 8px;
  margin: 8px;
  padding: 12px;
  cursor: pointer;
}

summary {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

details:hover {
  font-size: larger;
}

details summary::after {
  content: '▸';          /* triangle */
  transition: transform 0.3s ease;
}

details[open] summary::after {
  transform: rotate(90deg); /* tourne quand ouvert */
}
