body {
    background: skyblue;
    color: black;
    font-family: 'Arial', sans-serif;
    margin: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cv-box {
  width: 50vw;

  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;

  background-color: whitesmoke;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

details {
  background: #1e293b;
  color: #e2e8f0;
  border-radius: 8px;
  margin: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background 0.2s;
}

details[open] {
  background: #334155;
}

summary {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary::marker {
  display: none; /* hide default triangle */
}

summary::after {
  content: '›';
  transition: transform 0.2s;
}

details[open] summary::after {
  transform: rotate(90deg);
}
